﻿
@{
    ViewBag.Title = "Zelis Realtime Dashboard";
}


<br />
<br />
<br />

<hr />

<table border="1" style="border-style:solid; border-color:black" width="800px">
    <tr>
        <td width="25%" style="background-color:plum; font-weight:bold">
            <table border="0" width="100%" height="100%">
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">
                        Real Time
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" width="100%" height="100%">
                <tr style="font-weight:bold">
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Skill ID</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Calls in Queue</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">ASA</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Active Call</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Last Updated</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_SkillID1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_calls_in_queue1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_avg_answer_speed1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_active_calls1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_Last_Updated1.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_SkillID2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_calls_in_queue2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_avg_answer_speed2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_active_calls2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_Last_Updated2.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_SkillID3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_calls_in_queue3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_avg_answer_speed3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_active_calls3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_Last_Updated3.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_SkillID4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_calls_in_queue4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_avg_answer_speed4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_active_calls4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.stats_Last_Updated4.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">TOTALS</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">@ViewBag.stats_calls_in_queue_Total</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white"></td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">@ViewBag.stats_active_calls_Total</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<br />
<br />
<table border="1" style="border-style:solid; border-color:black" width="800px">
    <tr>
        <td width="25%" style="background-color:plum; font-weight:bold">
            <table border="0" width="100%" height="100%">
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">
                        Current Day
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table border="0" width="100%" height="100%">
                <tr style="font-weight:bold">
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Skill ID</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Calls Offered</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Calls Handled</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">ASA</td>
                    <td style="text-align:center; vertical-align:middle; background-color:plum">Last Updated</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_SkillID1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_offered1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_handled1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_avg_answer_speed1</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_Last_Updated1.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_SkillID2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_offered2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_handled2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_avg_answer_speed2</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_Last_Updated2.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_SkillID3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_offered3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_handled3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_avg_answer_speed3</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_Last_Updated3.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_SkillID4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_offered4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_calls_handled4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_avg_answer_speed4</td>
                    <td style="text-align:center; vertical-align:middle; background-color:white">@ViewBag.dailyStats_Last_Updated4.ToString("MM/dd/yy HH:mm:ss")</td>
                </tr>
                <tr>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">TOTALS</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">@ViewBag.dailyStats_calls_offered_Total</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">@ViewBag.dailyStats_calls_handled_Total</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white">@ViewBag.dailyStats_avg_answer_speed_Total</td>
                    <td style="text-align:center; vertical-align:middle; background-color:black;color:white"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<script>
   setTimeout(function(){
   window.location.reload(1);
}, 30000);
</script>