﻿@model ZelisDashboard.Models.LoginModel
@{
    ViewBag.Title = "Zelis Dashboard Login";
}

<br />
<br />
<hr />
<h3>Please log in</h3>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <table border="1" cellpadding="0" cellspacing="0" width="400px" style="background-color:black;color:white">
        <tr>
            <td>Username</td>
            <td style="color:black">@Html.TextBoxFor(m => m.UserName)</td>
        </tr>
        <tr>
            <td>Password</td>
            <td style="color:black">@Html.PasswordFor(m => m.Password)</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><input type="submit" value="Login" style="background-color:darkblue;color:yellow; font-weight:bold" /></td>
        </tr>
    </table>
    <div style="color:maroon; font-weight:bold">@ViewBag.Message</div>
}
